body{
    display: flex;
    height: 90vh;
    justify-content: space-around;
    background-color: black;
}
svg{
    /* border: 3px solid rgba(190, 0, 0, 0.561); */
    box-shadow: 1px 1px 8px 6px rgb(8, 42, 153);
    /* box-shadow: 1px 1px 8px 6px  rgba(3, 32, 128, 0.561) */
    width: 100%;
}

#container {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h1{
    text-align: center;
    color: white;
    font-size: 3em;
}

button{
    width: 180px;
    padding: 1%;
    font-size: 1.2em;
    border-radius: 5px;
    background-color: rgb(8, 42, 153);
    border: 1px solid rgb(8, 42, 153);
    color: white;
}

button:hover{
    transition: .4s ease-out;
    color: rgb(8, 42, 153);
    background-color: white;
    cursor: pointer;
}

button[disabled]{
    visibility: hidden;    
}